// BANNER
.title_w {
  max-width: 70vw;
  margin: 100px auto 50px auto;
  letter-spacing: 1.5px;
}
.search_input {
  max-width: 60%;
}

// RecipeCard
.imgRecipe {
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.subtitle {
  font-weight: 700;
}

#recipe_details {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0;
}

#recipe_ingredients {
  // list-style-type: none;
  // padding: 10px 0;
  .ingredient {
    font-weight: 500;
  }
  .qty {
    font-weight: 400;
  }
}
